@font-face {
  font-family: 'FrutigerNextLT-Light';
  src: url("../font/FrutigerNextLT-Light.eot?#iefix") format("embedded-opentype"), url("../font/FrutigerNextLT-Light.woff") format("woff"), url("../font/FrutigerNextLT-Light.ttf") format("truetype"), url("../font/FrutigerNextLT-Light.svg#FrutigerNextLT-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NotoSan-Light';
  src: url("../font/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Light.woff") format("woff"), url("../font/NotoSansCJKjp-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NotoSan-Medium';
  src: url("../font/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Medium.woff") format("woff"), url("../font/NotoSansCJKjp-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DIN-RegularAlternate';
  src: url("../font/DIN-RegularAlternate.eot?#iefix") format("embedded-opentype"), url("../font/DIN-RegularAlternate.woff") format("woff"), url("../font/DIN-RegularAlternate.ttf") format("truetype"), url("../font/DIN-RegularAlternate.svg#DIN-RegularAlternate") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #daddea;
  overflow: hidden; }

.mobile .nav-bar {
  position: fixed;
  width: 100%;
  margin-top: 0; }
  @media only screen and (max-width: 320px) {
    .mobile .nav-bar .nav-right {
      bottom: 0; } }
@media only screen and (max-width: 320px) {
  .mobile .popup .popup__content .popup__text-01, .mobile .popup .popup__content .popup__text-03 {
    font-size: 12px; }
  .mobile .popup .popup__content .popup__title {
    margin-bottom: 17px; }
  .mobile .popup .popup__content .popup__text-01 {
    margin-bottom: 12px; }
  .mobile .popup .popup__content .popup__text-02 {
    margin-bottom: 10px;
    font-size: 14px; }
  .mobile .popup .popup__content .popup__text-03 {
    margin-bottom: 20px; } }
.mobile .popup .popup__close {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (max-width: 320px) {
    .mobile .popup .popup__close {
      bottom: 0; } }
.mobile .popup.access-popup .popup__content .row {
  margin-top: -70px; }
  .mobile .popup.access-popup .popup__content .row .access__text {
    font-size: 11px; }
  .mobile .popup.access-popup .popup__content .row .access__text table td {
    padding-bottom: 0; }
  @media only screen and (max-width: 320px) {
    .mobile .popup.access-popup .popup__content .row .popup__title {
      margin-top: 0; } }
.mobile .content-front .block-bg .line, .mobile .content .block-bg .line {
  padding-top: 0;
  line-height: 35px;
  height: 16vw;
  font-size: 9vw; }
  .mobile .content-front .block-bg .line .break-line, .mobile .content .block-bg .line .break-line {
    font-size: 60%; }
.mobile .slider.owl-carousel {
  bottom: 8%; }
@media only screen and (max-width: 320px) {
  .mobile .slider.owl-carousel {
    bottom: 5%; }
    .mobile .slider.owl-carousel .owl-item.center.active img {
      transform: scale(1.8); } }

.android .nav-bar h1 {
  margin-top: 10px; }
.android .content .block-bg, .android .content-front .block-bg {
  top: 10%; }
  .android .content .block-bg .line, .android .content-front .block-bg .line {
    padding-top: 0; }
  .android .content .block-bg .text-bg, .android .content-front .block-bg .text-bg {
    font-size: 43vw; }
.android .main-content {
  line-height: 2; }
.android .popup .popup__content .row .col-md-6:first-child {
  margin-bottom: 5px; }
.android .popup .popup__content .popup__title {
  margin-bottom: 17px; }
.android .popup .popup__content .popup__text-01 {
  margin-bottom: 12px; }
.android .popup .popup__content .popup__text-02 {
  margin-bottom: 10px; }
.android .popup .popup__content .popup__text-03 {
  margin-bottom: 20px; }

.nav-bar {
  z-index: 10;
  position: relative;
  font-family: "FrutigerNextLT-Light";
  margin-top: 14px; }
  .nav-bar h1 {
    font-size: 24px;
    padding-left: 20px;
    display: inline-block;
    margin: 20px 0 0;
    font-family: "FrutigerNextLT-Light"; }
    @media only screen and (max-width: 767px) {
      .nav-bar h1 {
        display: block;
        text-align: center;
        line-height: 1.5;
        font-size: 5vw; } }
  .nav-bar .nav-right {
    float: right;
    margin: 16px 0 0 5px; }
    @media only screen and (max-width: 767px) {
      .nav-bar .nav-right {
        position: fixed;
        bottom: 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0 30px;
        text-align: center;
        color: #fff; } }
    .nav-bar .nav-right div {
      display: inline-block;
      font-size: 16px;
      margin-right: 15px;
      cursor: pointer; }
      @media only screen and (max-width: 767px) {
        .nav-bar .nav-right div {
          width: 50%; } }
      .nav-bar .nav-right div.message::before {
        content: url("../img/message.png");
        padding-right: 5px; }
        @media only screen and (max-width: 767px) {
          .nav-bar .nav-right div.message::before {
            content: url("../img/icon-menu-sp.png"); } }
      .nav-bar .nav-right div.access::before {
        content: url("../img/access.png");
        padding-right: 5px; }
        @media only screen and (max-width: 767px) {
          .nav-bar .nav-right div.access::before {
            content: url("../img/icon-menu-sp.png"); } }

.content, .content-front {
  z-index: 1;
  height: 100%;
  width: 100%;
  margin-left: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .content .block-bg, .content-front .block-bg {
    -ms-transform: rotate(352deg);
    /* IE 9 */
    -webkit-transform: rotate(352deg);
    /* Chrome, Safari, Opera */
    transform: rotate(352deg); }
    @media only screen and (max-width: 767px) {
      .content .block-bg, .content-front .block-bg {
        margin-top: -130px; } }
    .content .block-bg .text-bg, .content-front .block-bg .text-bg {
      font-family: "DIN-RegularAlternate";
      font-size: 22vw;
      font-weight: bold;
      color: #ff0c00;
      line-height: 22vw;
      margin: 0; }
      @media only screen and (max-width: 767px) {
        .content .block-bg .text-bg, .content-front .block-bg .text-bg {
          line-height: 35vw;
          font-size: 42vw;
          width: 115vw;
          white-space: pre-wrap;
          /* CSS3 */
          white-space: -moz-pre-wrap;
          /* Firefox */
          white-space: -pre-wrap;
          /* Opera <7 */
          white-space: -o-pre-wrap;
          /* Opera 7 */
          word-wrap: break-word;
          /* IE */ }
          .content .block-bg .text-bg span, .content-front .block-bg .text-bg span {
            letter-spacing: 1.5vw; } }
    .content .block-bg .line, .content-front .block-bg .line {
      line-height: 40px;
      width: 105%;
      margin-left: -3%;
      margin-top: -1.5%;
      height: 40px;
      text-align: center;
      background: #ff0c00;
      text-shadow: 2px 0px 1px red;
      font-family: "FrutigerNextLT-Light";
      font-size: 32px;
      color: #fff; }
      @media only screen and (max-width: 800px) {
        .content .block-bg .line, .content-front .block-bg .line {
          padding-left: 0;
          margin-left: -8%; } }
      @media only screen and (max-width: 767px) {
        .content .block-bg .line, .content-front .block-bg .line {
          font-size: 9.5vw;
          height: 17vw;
          margin-top: 1%; } }
      @media only screen and (max-width: 320px) {
        .content .block-bg .line, .content-front .block-bg .line {
          padding-top: 6px; } }
      .content .block-bg .line small, .content-front .block-bg .line small {
        font-size: 81%; }
        @media only screen and (max-width: 767px) {
          .content .block-bg .line small, .content-front .block-bg .line small {
            font-size: 75%; } }
      .content .block-bg .line span, .content-front .block-bg .line span {
        font-size: 28px; }
      @media only screen and (max-width: 767px) {
        .content .block-bg .line .break-line, .content-front .block-bg .line .break-line {
          display: block;
          font-size: 22px;
          margin-top: -16px; }
          .content .block-bg .line .break-line span, .content-front .block-bg .line .break-line span {
            font-size: 20px; } }
    .content .block-bg .underline, .content-front .block-bg .underline {
      width: 105%;
      height: 0.4vw;
      margin-top: 0.3%;
      margin-left: -3%;
      background: #ff0c00; }
      @media only screen and (max-width: 767px) {
        .content .block-bg .underline, .content-front .block-bg .underline {
          height: 0.5vw;
          margin-top: 0.5%;
          margin-left: -10%; } }
  .content .man, .content-front .man {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100vw;
    height: 100%;
    margin-left: 1%;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .content .man, .content-front .man {
        top: 40px;
        margin-left: 3%; } }
    @media only screen and (max-width: 767px) {
      .content .man img, .content-front .man img {
        width: 58%; } }
    .content .man .man-sp, .content-front .man .man-sp {
      display: none; }

.content-front {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }
  .content-front .text-bg {
    opacity: 0.1; }
    @media only screen and (max-width: 767px) {
      .content-front .text-bg {
        opacity: 0.2; } }
  .content-front .block-bg .line {
    background: rgba(255, 12, 0, 0.1); }
    @media only screen and (max-width: 767px) {
      .content-front .block-bg .line {
        background: rgba(255, 12, 0, 0.2); } }
  .content-front .block-bg .underline {
    background: rgba(255, 12, 0, 0.1); }
    @media only screen and (max-width: 767px) {
      .content-front .block-bg .underline {
        background: rgba(255, 12, 0, 0.2); } }
  @media only screen and (max-width: 767px) {
    .content-front {
      -moz-box-shadow: inset 0 -50vw 30vw -30vw rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: inset 0 -50vw 30vw -30vw rgba(0, 0, 0, 0.6);
      box-shadow: inset 0 -50vw 30vw -30vw rgba(0, 0, 0, 0.6); } }

.main-content {
  text-align: center;
  width: 100%;
  z-index: 1;
  font-size: 90px;
  font-family: "DIN-RegularAlternate";
  line-height: 1.1;
  color: #333;
  margin-top: 65px; }
  @media only screen and (max-width: 767px) {
    .main-content {
      font-size: 50px;
      line-height: 2;
      margin-top: 10px; } }
  @media only screen and (max-width: 320px) {
    .main-content {
      font-size: 40px;
      line-height: 1.8; } }
  .main-content span {
    display: block;
    font-size: 19px;
    font-family: "NotoSan-Medium";
    color: #444; }
    @media only screen and (max-width: 767px) {
      .main-content span {
        font-size: 15px;
        margin-top: -32px; } }

.popup {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-family: "NotoSan-Light";
  display: none; }
  .popup .popup__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    @media only screen and (max-width: 800px) {
      .popup .popup__content {
        padding: 0 30px; } }
    @media only screen and (max-width: 767px) {
      .popup .popup__content {
        padding: 0 20px; } }
  .popup .popup__title {
    font-size: 28px;
    margin-bottom: 27px; }
    @media only screen and (max-width: 767px) {
      .popup .popup__title {
        font-size: 18px; } }
  .popup .popup__text-01, .popup .popup__text-03 {
    font-size: 20px;
    margin-bottom: 22px; }
    @media only screen and (max-width: 767px) {
      .popup .popup__text-01, .popup .popup__text-03 {
        font-size: 14px; } }
  .popup .popup__text-02 {
    font-size: 22px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .popup .popup__text-02 {
        font-size: 16px; } }
  .popup .popup__text-03 {
    margin-bottom: 35px; }
    @media only screen and (max-width: 767px) {
      .popup .popup__text-03 {
        margin-left: -1px;
        margin-right: -1px; } }
  .popup .popup__bottom {
    font-family: "FrutigerNextLT-Light";
    font-size: 18px;
    margin-bottom: 45px; }
    @media only screen and (max-width: 767px) {
      .popup .popup__bottom {
        font-size: 12px; } }
  .popup .popup__close {
    cursor: pointer;
    font-family: "FrutigerNextLT-Light";
    font-size: 20px;
    display: inline-block; }
    @media only screen and (max-width: 767px) {
      .popup .popup__close {
        font-size: 12px; }
        .popup .popup__close img {
          margin-bottom: -5px;
          display: block; } }
  .popup #map {
    width: 100%;
    max-width: 480px;
    height: 300px;
    margin: auto; }
    @media only screen and (max-width: 767px) {
      .popup #map {
        height: 250px; } }
    @media only screen and (max-width: 320px) {
      .popup #map {
        height: 200px; } }
  .popup.access-popup .popup__content {
    width: 1000px;
    margin: auto;
    flex-direction: row;
    text-align: left; }
    @media only screen and (max-width: 800px) {
      .popup.access-popup .popup__content {
        width: 100%; } }
    .popup.access-popup .popup__content .row {
      width: 100%;
      margin-top: 48px; }
      .popup.access-popup .popup__content .row .col-md-6:first-child {
        padding: 0; }
        @media only screen and (max-width: 800px) {
          .popup.access-popup .popup__content .row .col-md-6:first-child {
            text-align: center;
            margin-bottom: 20px; } }
        @media only screen and (max-width: 767px) {
          .popup.access-popup .popup__content .row .col-md-6:first-child img {
            max-width: 100%; } }
      .popup.access-popup .popup__content .row .col-md-12 {
        text-align: center; }
    .popup.access-popup .popup__content .popup__close__wrap {
      clear: both;
      text-align: center; }
  .popup.access-popup .popup__close {
    margin-top: 60px; }
    @media only screen and (max-width: 767px) {
      .popup.access-popup .popup__close {
        margin-top: 20px; } }
  .popup.access-popup .access__text {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 0; }
    @media only screen and (max-width: 800px) {
      .popup.access-popup .access__text {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media only screen and (max-width: 767px) {
      .popup.access-popup .access__text {
        align-items: flex-start;
        padding-left: 0;
        font-size: 13px; } }
    .popup.access-popup .access__text img {
      max-width: 100%; }
    .popup.access-popup .access__text .popup__title {
      font-family: "FrutigerNextLT-Light";
      font-size: 38px;
      margin-top: 3px;
      margin-bottom: 4px; }
      @media only screen and (max-width: 767px) {
        .popup.access-popup .access__text .popup__title {
          font-size: 24px; } }
    .popup.access-popup .access__text table td {
      vertical-align: top;
      line-height: 1.7;
      padding-bottom: 11px; }
      .popup.access-popup .access__text table td a {
        color: #fff;
        text-decoration: none; }
        .popup.access-popup .access__text table td a:hover {
          opacity: .8; }
      .popup.access-popup .access__text table td:first-child {
        white-space: nowrap; }

#man-block {
  position: absolute;
  top: 20px;
  left: 51%;
  transform: translateX(-50%);
  z-index: 9; }

html .list-hover, body .list-hover {
  position: absolute;
  width: 100vw;
  bottom: 50px;
  text-align: center; }
  html .list-hover .button-hover, body .list-hover .button-hover {
    z-index: 11;
    height: 11vw;
    width: 11vw;
    margin: 0 1vw;
    display: inline-block;
    position: relative;
    cursor: pointer; }
    html .list-hover .button-hover .image-list, body .list-hover .button-hover .image-list {
      height: 100%;
      width: 100%; }
      html .list-hover .button-hover .image-list.link-world, body .list-hover .button-hover .image-list.link-world {
        background: url("../img/link_world_pic.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover .image-list.hear-me, body .list-hover .button-hover .image-list.hear-me {
        background: url("../img/hear_me_pic.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover .image-list.AR-phabet, body .list-hover .button-hover .image-list.AR-phabet {
        background: url("../img/AR_phabet_pic.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover .image-list.interactive, body .list-hover .button-hover .image-list.interactive {
        background: url("../img/interactive_actual_movie_pic.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover .image-list.sumaho, body .list-hover .button-hover .image-list.sumaho {
        background: url("../img/sumaho_pic.png") no-repeat center center;
        background-size: 100%; }
    html .list-hover .button-hover .text-list, body .list-hover .button-hover .text-list {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%; }
      html .list-hover .button-hover .text-list.link-world, body .list-hover .button-hover .text-list.link-world {
        background: url("../img/link_world_text.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover .text-list.hear-me, body .list-hover .button-hover .text-list.hear-me {
        background: url("../img/hear_me_text.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover .text-list.AR-phabet, body .list-hover .button-hover .text-list.AR-phabet {
        background: url("../img/AR_phabet_text.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover .text-list.interactive, body .list-hover .button-hover .text-list.interactive {
        background: url("../img/interactive_actual_movie_text.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover .text-list.sumaho, body .list-hover .button-hover .text-list.sumaho {
        background: url("../img/sumaho_text.png") no-repeat center center;
        background-size: 100%; }
    html .list-hover .button-hover:hover .text-btn, body .list-hover .button-hover:hover .text-btn {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%; }
      html .list-hover .button-hover:hover .text-btn.link-world, body .list-hover .button-hover:hover .text-btn.link-world {
        background: url("../img/link_world.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover:hover .text-btn.hear-me, body .list-hover .button-hover:hover .text-btn.hear-me {
        background: url("../img/hear_me.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover:hover .text-btn.AR-phabet, body .list-hover .button-hover:hover .text-btn.AR-phabet {
        background: url("../img/AR_phabet.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover:hover .text-btn.interactive, body .list-hover .button-hover:hover .text-btn.interactive {
        background: url("../img/interactive.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover:hover .text-btn.sumaho, body .list-hover .button-hover:hover .text-btn.sumaho {
        background: url("../img/sumaho.png") no-repeat center center;
        background-size: 100%; }
    html .list-hover .button-hover:hover .text-list, body .list-hover .button-hover:hover .text-list {
      animation: 5s spinnow infinite linear;
      -moz-animation: 5s spinnow infinite linear;
      -webkit-animation: 5s spinnow infinite linear;
      -ms-animation: 5s spinnow infinite linear; }
      html .list-hover .button-hover:hover .text-list.link-world, body .list-hover .button-hover:hover .text-list.link-world {
        background: url("../img/link_world_hover.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover:hover .text-list.hear-me, body .list-hover .button-hover:hover .text-list.hear-me {
        background: url("../img/hear_me_hover.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover:hover .text-list.AR-phabet, body .list-hover .button-hover:hover .text-list.AR-phabet {
        background: url("../img/AR_phabet_hover.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover:hover .text-list.interactive, body .list-hover .button-hover:hover .text-list.interactive {
        background: url("../img/interactive_actual_movie_hover.png") no-repeat center center;
        background-size: 100%; }
      html .list-hover .button-hover:hover .text-list.sumaho, body .list-hover .button-hover:hover .text-list.sumaho {
        background: url("../img/sumaho_hover.png") no-repeat center center;
        background-size: 100%; }
    html .list-hover .button-hover:hover .image-list.link-world, body .list-hover .button-hover:hover .image-list.link-world {
      background: url("../img/link_world_pic_hover.png") no-repeat center center;
      background-size: 100%; }
    html .list-hover .button-hover:hover .image-list.hear-me, body .list-hover .button-hover:hover .image-list.hear-me {
      background: url("../img/hear_me_pic_hover.png") no-repeat center center;
      background-size: 100%; }
    html .list-hover .button-hover:hover .image-list.interactive, body .list-hover .button-hover:hover .image-list.interactive {
      background: url("../img/interactive_actual_movie_pic_hover.png") no-repeat center center;
      background-size: 100%; }
    html .list-hover .button-hover:hover .image-list.sumaho, body .list-hover .button-hover:hover .image-list.sumaho {
      background: url("../img/sumaho_pic_hover.png") no-repeat center center;
      background-size: 100%; }
@-webkit-keyframes spinnow {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spinnow {
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg); } }
@-ms-keyframes spinnow {
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }
html #carousel_item, body #carousel_item {
  display: none; }
html .carousel-inner .active.left, body .carousel-inner .active.left {
  left: -33%; }
html .carousel-inner .active.right, body .carousel-inner .active.right {
  left: 33%; }
html .carousel-inner .next, body .carousel-inner .next {
  left: 33%; }
html .carousel-inner .prev, body .carousel-inner .prev {
  left: -33%; }
html .carousel-control.left, body .carousel-control.left {
  background-image: none; }
html .carousel-control.right, body .carousel-control.right {
  background-image: none; }

.slick-slide img {
  width: 100%; }

.owl-carousel .owl-item img {
  width: auto; }

.slider.owl-carousel {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  display: none; }
  @media only screen and (max-width: 767px) {
    .slider.owl-carousel {
      display: block;
      margin-bottom: 0;
      bottom: 13%; } }
  .slider.owl-carousel .owl-stage {
    margin-left: -30px;
    width: 974px !important; }
  .slider.owl-carousel .owl-item > div {
    margin-top: 25px; }
  .slider.owl-carousel .owl-item img {
    width: 60px;
    transition: .5s; }
  .slider.owl-carousel .owl-item p {
    display: none;
    color: #fff; }
  .slider.owl-carousel .owl-item.center.active {
    position: relative; }
    .slider.owl-carousel .owl-item.center.active > div {
      padding: 25px;
      margin-top: 0;
      position: relative; }
      .slider.owl-carousel .owl-item.center.active > div:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../img/link-hover-sp.png");
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 1; }
    .slider.owl-carousel .owl-item.center.active p {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
      left: 0;
      z-index: 2; }
    .slider.owl-carousel .owl-item.center.active img {
      transform: scale(1.83); }
  .slider.owl-carousel .owl-dots {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .slider.owl-carousel .owl-dots .owl-dot span {
      margin: 0 3px;
      width: 4px;
      height: 4px;
      background: rgba(255, 255, 255, 0.6); }
    .slider.owl-carousel .owl-dots .owl-dot.active span {
      width: 10px;
      height: 10px;
      background: white; }

@media screen and (min-width: 1200px) {
  html .list-hover .button-hover, body .list-hover .button-hover {
    height: 10vw;
    width: 10vw; } }
@media screen and (min-width: 1640px) {
  html .list-hover .button-hover, body .list-hover .button-hover {
    height: 8vw;
    width: 8vw; } }
@media screen and (max-width: 950px) {
  html .list-hover .button-hover, body .list-hover .button-hover {
    height: 12vw;
    width: 12vw; } }
@media screen and (max-width: 800px) {
  html #carousel_item, body #carousel_item {
    display: inline-block;
    z-index: 12;
    position: absolute;
    bottom: 2vh; }
  html .btn-sp, body .btn-sp {
    width: 30vw;
    height: 30vw; }
    html .btn-sp .link-world, body .btn-sp .link-world {
      width: 100%;
      height: 100%;
      background: url("../img/link_world_pic.png") no-repeat center center;
      background-size: 100%; }
    html .btn-sp .hear-me, body .btn-sp .hear-me {
      width: 100%;
      height: 100%;
      background: url("../img/hear_me_pic.png") no-repeat center center;
      background-size: 100%; }
    html .btn-sp .AR-phabet, body .btn-sp .AR-phabet {
      width: 100%;
      height: 100%;
      background: url("../img/AR_phabet_pic.png") no-repeat center center;
      background-size: 100%; }
    html .btn-sp .interactive, body .btn-sp .interactive {
      width: 100%;
      height: 100%;
      background: url("../img/interactive_actual_movie_pic.png") no-repeat center center;
      background-size: 100%; }
    html .btn-sp .sumaho, body .btn-sp .sumaho {
      width: 100%;
      height: 100%;
      background: url("../img/sumaho_pic.png") no-repeat center center;
      background-size: 100%; }
  html .list-hover, body .list-hover {
    display: none; }
  html .item, body .item {
    -webkit-transition: none;
    transition: none; }
    html .item .col-xs-4:first-child .image-list, html .item .col-xs-4:last-child .image-list, body .item .col-xs-4:first-child .image-list, body .item .col-xs-4:last-child .image-list {
      width: 50%;
      height: 50%;
      margin: 7vw auto; } }

/*# sourceMappingURL=style.css.map */
