html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media #{$info-tablet} {
    overflow: auto;
  }
}

body,
html {
  position: fixed;
  @media #{$info-tablet} {
    position: relative;
  }
}

body {
  background-color: #daddea;
}

h1, h2, h3, p {
  margin: 0;
}


$link-world: #ea522e;
$hear-me: #60c4db;
$ar-phabet: #df606d;
$parkour: #f18b2a;
$enjoin: #38a972;

$interactive: #f5c822;
$ar: #df606d;
$sumaho: #38a972;
$hear-me: #60c4db;


.loader-wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: none;
  &.active-loader {
    display: block;
    @media #{$info-tablet} {
      display: none;
      overflow: auto;

    }
  }
  &.active {
    .loader-front {
      -webkit-animation-name: load-slide-down;
      animation-name: load-slide-down;
      @include animation_setting;
    }
    .loader-front-02 {
      -webkit-animation-name: load-slide-down-02;
      animation-name: load-slide-down-02;
      @include animation_setting;
      -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
      animation-delay: 2s;
    }
  }
  &.next-active {
    .loader-front {
      display: none;
    }
  }

  .loader {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .loader-front {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: #daddea;
    }
    .loader-front-02 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 4;
      background-color: #daddea;
      transform: translateY(100%);
    }
  }
  &.link-world {
    .loader {
      background-color: $link-world;
    }
  }
  &.hear-me {
    .loader {
      background-color: $hear-me;
    }
  }
  &.ar-phabet {
    .loader {
      background-color: $ar-phabet;
    }
  }
  &.parkour {
    .loader {
      background-color: #f5c822;
    }
  }
  &.enjoin {
    .loader {
      background-color: $enjoin;
    }
  }
}

.main-content {
  height: 100%;
  background-color: #fff;
  position: relative;
  @include css3-prefix(transform, translateY(100%));
  overflow: hidden;
  @media #{$info-tablet} {
    @include css3-prefix(transform, translateY(0));
    height: initial;
  }
  &.move-down {
    -webkit-animation-name: load-slide-down;
    animation-name: load-slide-down;
    @include animation_setting;
    z-index: 3;
    .nav-bar {
      opacity: 1;
    }
    .content__item.active {
      opacity: 1;
      display: block;
      @include css3-prefix(transform, translateY(0));
      .item__info {
        h1, h3, .item__text-01, .item__text-02, > a {
          opacity: 1;
        }
      }
    }
  }
  &.active {
    -webkit-animation-name: load-slide-up;
    animation-name: load-slide-up;
    @include animation_setting;
    z-index: 9;
    .nav-bar {
      -webkit-animation-name: fadeInUpA;
      animation-name: fadeInUpA;
      animation-delay: 1.5s;
      @include animation_setting;
    }
    .content__item {
      -webkit-animation-name: load-slide-up;
      animation-name: load-slide-up;
      @include animation_setting;
      -webkit-animation-delay: 0.3s; /* Safari 4.0 - 8.0 */
      animation-delay: 0.3s;
    }
  }
  .content__item {
    @include css3-prefix(transform, translateY(100%));
    display: none;
    @media #{$info-tablet} {
      @include css3-prefix(transform, translateY(0));
    }

    &.active {
      display: block;
      .item__info {
        h1 {
          -webkit-animation-name: fadeInUpA;
          animation-name: fadeInUpA;
          animation-delay: 4s;
          @include animation_setting;
          @media #{$info-tablet} {
            animation-delay: 0s;
          }
        }
        h3 {
          -webkit-animation-name: fadeInUpA;
          animation-name: fadeInUpA;
          animation-delay: 4.3s;
          @include animation_setting;
          @media #{$info-tablet} {
            animation-delay: 0s;
          }
        }
        .item__text-01 {
          -webkit-animation-name: fadeInUpA;
          animation-name: fadeInUpA;
          animation-delay: 4.6s;
          @include animation_setting;
          @media #{$info-tablet} {
            animation-delay: 0s;
          }
        }
        .item__text-02 {
          -webkit-animation-name: fadeInUpA;
          animation-name: fadeInUpA;
          animation-delay: 4.9s;
          @include animation_setting;
          @media #{$info-tablet} {
            animation-delay: 0s;
          }
        }
        > a {
          -webkit-animation-name: fadeInUpA;
          animation-name: fadeInUpA;
          animation-delay: 5.2s;
          @include animation_setting;
          @media #{$info-tablet} {
            animation-delay: 0s;
          }
        }
      }

    }
  }
  .nav-bar {
    margin-top: 0;
    position: fixed;
    width: 100%;
    @include css3-prefix(transform, translateY(20px));
    opacity: 0;
    transition: 1s;
    @media #{$info-tablet} {
      @include css3-prefix(transform, translateY(0));
      opacity: 1;
    }
    .nav-right {
      @media #{$info-phone} {
        display: none;
      }
    }
  }
}

.content__wrap {
  height: 100%;
  .content__item {
    height: 100%;

    // =============== slider sp ==============
    &.detail-hear-me {
      .slick-sp .slick-sp-bg {
        background-size: 140% auto;
        background-position: center center;
        @media #{$info-phone} {
          background-size: 125% auto;
        }
      }
    }
    &.detail-ar-phabet {
      .slick-sp .slick-sp-bg {
        background-size: 105% auto;
        background-position: 90% 87%;
        @media #{$info-phone} {
          background-size: cover;
        }
      }
    }
    &.detail-parkour {
      .slick-sp .slick-sp-bg {
        background-size: cover;
        background-position: center center;
      }
    }
    &.detail-enjoin {
      .slick-sp .slick-sp-bg {
        background-size: 115% auto;
        background-position: center center;
      }
    }
    .slick-sp {
      height: 480px;
      width: 100%;
      @media #{$info-phone} {
        height: 280px;
      }
      .slick-sp-bg {
        background-size: 140% auto;
        background-position: 80% 80%;
        height: 480px;
        @media #{$info-phone} {
          height: 280px;
          background-size: 160% auto;
          background-position: 73% 65%;
        }
      }
    }
    .mobile-setting {
      -webkit-animation-name: fadeInUpA;
      animation-name: fadeInUpA;
      animation-delay: 0s;
      @include animation_setting;
      .slide__item__title {
        background: url("../img/slide-title-line.png") bottom left no-repeat;
        margin-bottom: 40px;
        &:first-child {
          @media #{$info-tablet} {
            margin-top: 40px;
          }
        }
        @media #{$info-phone} {
          margin-bottom: 30px;
        }
        .item__title-01 {
          display: inline-block;
          vertical-align: top;
          margin-top: 16px;
          font-family: $font-frutiger-light;
          font-size: 22px;
          color: #ff0c00;
          margin-right: 20px;
          @media #{$info-phone} {
            font-size: 18px;
            margin-right: 13px;
          }
        }
        .item__title-02 {
          display: inline-block;
          vertical-align: top;
          font-family: $font-frutiger-light;
          font-size: 88px;
          color: #ff0c00;
          margin-top: -30px;
          margin-right: 9px;
          margin-bottom: -10px;
          @media #{$info-phone} {
            font-size: 60px;
            margin-top: -17px;
          }
        }
        .item__title-03 {
          display: inline-block;
          font-family: $font-noto-medium;
          line-height: 1.6;
          width: calc(100% - 141px) !important;
          @media #{$info-phone} {
            font-size: 13px;
            width: calc(100% - 110px) !important;
            padding-bottom: 10px;
          }
        }
      }
    }


    .col-left {
      height: 100%;
      width: 50%;
      float: left;
      background-position: bottom left;
      background-repeat: no-repeat;
      position: relative;
      background-color: #daddea;
      @media #{$info-tablet} {
        width: 100%;
        float: none;
      }
    }
    .col-right {
      height: 100%;
      width: 50%;
      float: right;
      background-size: cover;
      background-position: center center;
    }
    .slide-right {
      position: relative;
      background-color: #000;
      overflow: hidden;
      @media #{$info-tablet} {
        display: none;
      }
      .slide__item {
        top: -40px;
        bottom: -40px;
        //height: 100%;
        background-size: cover;
        background-position: center center;
        //display: none;
        position: absolute;
        width: 100%;
        //transform: matrix(1, 0, 0, 1, 0, 50);
        transition: ease-out 1s;
        opacity: 0;
        &.active {
          opacity: 1;
          transform: matrix(1, 0, 0, 1, 0, 0);
          .slide__item__title {
            -webkit-animation-name: fadeInUpA;
            animation-name: fadeInUpA;
            animation-delay: 1s;
            @include animation_setting;
          }
        }
        &.prev {
          transform: matrix(1, 0, 0, 1, 0, -50);
        }
        &.next {
          transform: matrix(1, 0, 0, 1, 0, 50);
        }
        .slide__item__title {
          display: inline-block;
          background: url("../img/slide-title-line.png") bottom left no-repeat;
          position: absolute;
          top: 12.3%;
          left: 45px;
          @include css3-prefix(transform, translateY(20px));
          transition: 1s;
          opacity: 0;
          padding-bottom: 15px;
          &:before {
            content: "";
            width: 550px;
            height: 550px;
            background: url("../img/slide-title-light.png");
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .item__title-01 {
            display: inline-block;
            vertical-align: top;
            margin-top: 16px;
            font-family: $font-frutiger-light;
            font-size: 22px;
            color: #ff0c00;
            margin-right: 20px;
          }
          .item__title-02 {
            display: inline-block;
            vertical-align: top;
            font-family: $font-frutiger-light;
            font-size: 88px;
            color: #ff0c00;
            margin-top: -30px;
            margin-right: 9px;
            margin-bottom: -10px;
          }
          .item__title-03 {
            display: inline-block;
            width: 300px;
            font-family: $font-noto-medium;
            line-height: 1.6;
          }
        }
      }
    }

    .slider-dot {
      list-style: none;
      position: absolute;
      right: 0;
      top: 50%;
      @include css3-prefix(transform, translateY(-50%));
      text-align: right;
      padding: 0;
      margin-right: 18px;
      @media #{$info-tablet} {
        display: none;
      }
      > li {
        position: relative;
        padding-right: 20px;
        color: transparent;
        font-family: $font-frutiger-light;
        font-size: 12px;
        //text-transform: uppercase;
        cursor: pointer;
        &.active {
          color: $link-world;
          &:before {
            background-color: $link-world;
          }
          &:after {
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 100%;
            border: 1px solid $link-world;
            top: 3px;
            right: -3px;
          }
          &.hear-me {
            color: $hear-me;
            &:before,
            > ul:before,
            > ul li:before {
              background-color: $hear-me;
            }
            &:after {
              border: 1px solid $hear-me;
            }
          }

          &.ar-phabet {
            color: $ar-phabet;
            &:before,
            > ul:before,
            > ul li:before {
              background-color: $ar-phabet;
            }
            &:after {
              border: 1px solid $ar-phabet;
            }
          }

          &.parkour {
            color: $parkour;
            &:before,
            > ul:before,
            > ul li:before {
              background-color: $parkour;
            }
            &:after {
              border: 1px solid $parkour;
            }
          }

          &.enjoin {
            color: $enjoin;
            &:before,
            > ul:before,
            > ul li:before {
              background-color: $enjoin;
            }
            &:after {
              border: 1px solid $enjoin;
            }
          }

        }
        &:before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background-color: #838bad;
          position: absolute;
          right: 0;
          top: 6px;
        }
        > ul {
          list-style: none;
          padding-left: 0;
          margin-right: -19px;
          position: relative;
          padding-top: 12px;
          &:before {
            content: "";
            position: absolute;
            height: calc(100% - 15px);
            top: 0;
            right: 2px;
            width: 1px;
            background-color: $link-world;
          }
          li {
            position: relative;
            color: transparent;
            margin-bottom: -5px;
            cursor: pointer;

            &.active {
              &:before {
                background-color: #838bad;
              }
              &:after {
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #838bad;
                position: absolute;
                right: 0;
                animation: scale-big ease 2s infinite;
                -moz-animation: scale-big ease 2s infinite;
                -webkit-animation: scale-big ease 2s infinite;
                -o-animation: scale-big ease 2s infinite;
              }
              span {
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #838bad;
                position: absolute;
                right: 0;
                animation: scale-big ease 2s infinite;
                -moz-animation: scale-big ease 2s infinite;
                -webkit-animation: scale-big ease 2s infinite;
                -o-animation: scale-big ease 2s infinite;
                animation-delay: 1s;
              }
            }

            &:before {
              content: "";
              width: 5px;
              height: 5px;
              border-radius: 100%;
              background-color: $link-world;
              position: absolute;
              right: 0;
            }
          }
        }

      }
    }
    .item__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 360px;
      margin-left: 9.6%;
      font-family: $font-noto-regular;
      @media #{$info-tablet} {
        width: 100%;
        margin-left: 0;
        padding: 32px 30px 0;
      }
      @media #{$info-phone} {
        padding: 32px 15px 0;
      }
      h1 {
        font-family: $font-frutiger-light;
        font-size: 90px;
        line-height: 0.88;
        margin-bottom: 8px;
        @include css3-prefix(transform, translateY(20px));
        transition: 1s;
        opacity: 0;
        margin-right: -150px;
        span {
          color: $link-world;
        }
        @media #{$info-phone} {
          font-size: 57px;
          line-height: 0.98;
        }
      }
      h3 {
        font-weight: normal;
        font-size: 19px;
        margin-bottom: 43px;
        @include css3-prefix(transform, translateY(20px));
        transition: 1s;
        opacity: 0;
        font-family: $font-noto-regular;
        small {
          display: block;
          color: #5d5e61;
          margin: 5px 0 12px;
        }
        @media #{$info-phone} {
          font-size: 16px;
        }
      }
      .item__text-01 {
        font-size: 18px;
        line-height: 1.9;
        margin-bottom: 25px;
        @include css3-prefix(transform, translateY(20px));
        transition: 1s;
        opacity: 0;
        @media #{$info-phone} {
          line-height: 1.6;
        }
      }
      .item__text-02 {
        font-size: 14px;
        line-height: 1.8;
        @include css3-prefix(transform, translateY(20px));
        transition: 1s;
        opacity: 0;
        @media #{$info-phone} {
          font-size: 13px;
        }
      }
      > a {
        @include css3-prefix(transform, translateY(20px));
        transition: 1s;
        opacity: 0;
      }


    }
    &.detail-link-world {
      .col-left {
        background: url("../img/detail-link-bg-left.png") no-repeat -15px calc(100% + 15px) #daddea;
        @media #{$info-tablet} {
          background: url("../img/sp-detail-link-bg-left.png") no-repeat calc(100% + 10px) 40px #daddea;
        }
        @media #{$info-phone} {
          background-size: 38%;
          background-position: calc(100% + 4px) 24px;
        }
      }
      .slide__item__title {
        &.slide__item__title-01 {
          right: 30px;
          left: initial;
          top: 16.3%;
          .item__title-03 {
            width: 220px;
            margin-right: -10px;
          }
        }
        &.slide__item__title-02 {
          bottom: 120px;
          top: initial;
          left: 42px;
          .item__title-03 {
            width: 215px;
          }
        }
        &.slide__item__title-03 {
          bottom: 120px;
          top: initial;
          left: 42px;
          .item__title-03 {
            width: 195px;
          }
        }

      }
      .slide__item {
        &.slide__item-01 {
          background-position: 70% center;
        }
      }

    }

    &.detail-hear-me {
      .item__info {
        span {
          color: $hear-me;
        }
        > a {
          margin-top: 5px;
        }
      }
      .col-left {
        background: url("../img/detail-hear-bg-left.png") no-repeat left calc(100% - 90px) #daddea;
        @media #{$info-tablet} {
          background: url("../img/sp-detail-hear-bg-left.png") no-repeat calc(100% + 10px) 40px #daddea;
        }
        @media #{$info-phone} {
          background-size: 54%;
          background-position: calc(100% + 4px) 24px;
        }
      }
      .slide__item__title {
        &.slide__item__title-01 {
          top: 160px;
          .item__title-03 {
            width: 325px;
          }
        }
        &.slide__item__title-02 {
          top: initial;
          bottom: 120px;
          .item__title-03 {
            width: 220px;
          }
        }
        &.slide__item__title-03 {
          top: 140px;
          .item__title-03 {
            width: 270px;
          }
        }
      }
      .slide__item {
        &.slide__item-02 {
          background-position: 70% center;
        }
        &.slide__item-03 {
          background-position: 82% center;
        }
      }
    }

    &.detail-ar-phabet {
      .item__info {
        span {
          color: $ar-phabet;
        }
      }
      .col-left {
        background: url("../img/detail-ar-bg-left.png") no-repeat -36px calc(100% + 54px) #daddea;
        @media #{$info-tablet} {
          background-size: 38%;
          background-position: calc(100% + 100px) -32px;
        }
        @media #{$info-phone} {
          background-position: calc(100% + 47px) -12px;
        }
      }
      .slide__item__title {
        &.slide__item__title-01 {
          bottom: 120px;
          top: initial;
          .item__title-03 {
            width: 225px;
          }
        }
        &.slide__item__title-02 {
          top: initial;
          bottom: 120px;
          .item__title-03 {
            width: 265px;
          }
        }
        &.slide__item__title-03 {
          top: initial;
          bottom: 120px;
          .item__title-03 {
            width: 260px;
          }
        }
      }
      .slide__item {
        &.slide__item-01 {
          background-position: 12% center;
        }
        &.slide__item-02 {
          background-position: 30% center;
        }
        &.slide__item-03 {
          background-position: 19% center;
        }
      }
    }

    &.detail-parkour {
      .item__info {
        span {
          color: $parkour;
        }
      }
      .col-left {
        background: url("../img/detail-park-bg-left.png") no-repeat -75px calc(100% + 75px) #daddea;
        @media #{$info-tablet} {
          background-position: calc(100% + 85px) -85px;
        }
        @media #{$info-phone} {
          background-size: 48%;
          background-position: calc(100% + 54px) -54px;
        }
      }
      .slide__item__title {
        &.slide__item__title-01 {
          bottom: 120px;
          top: initial;
          color: #fff;
          @media #{$info-tablet} {
            color: #333;
          }
          &:before {
            display: none;
          }
          .item__title-03 {
            width: 225px;
          }
        }
        &.slide__item__title-02 {
          top: initial;
          bottom: 120px;
          .item__title-03 {
            width: 300px;
          }
        }
        &.slide__item__title-03 {
          top: initial;
          bottom: 120px;
          color: #fff;
          @media #{$info-tablet} {
            color: #333;
          }

          &:before {
            display: none;
          }
          .item__title-03 {
            width: 300px;
          }
        }
      }
      .slide__item {
        &.slide__item-01 {
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-color: #424242;
        }
        &.slide__item-02 {
          background-position: 24% center;
        }
        &.slide__item-03 {
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-color: #424242;
        }
      }
    }

    &.detail-enjoin {
      .item__info {
        span {
          color: $enjoin;
        }
      }
      .col-left {
        background: url("../img/detail-enjoin-bg-left.png") no-repeat -53px calc(100% - 65px) #daddea;
        @media #{$info-tablet} {
          background: url("../img/sp-detail-enjoin-bg-left.png") no-repeat calc(100% + 50px) -20px #daddea;
        }
        @media #{$info-phone} {
          background-size: 54%;
          background-position: calc(100% + 30px) -10px;
        }
      }
      .slide__item__title {
        &.slide__item__title-01 {
          bottom: 120px;
          top: initial;
          .item__title-03 {
            width: 255px;
          }
        }
        &.slide__item__title-02 {
          top: initial;
          bottom: 120px;
          .item__title-03 {
            width: 252px;
          }
        }
        &.slide__item__title-03 {
          top: initial;
          bottom: 120px;

          .item__title-03 {
            width: 235px;
          }
        }
      }
      .slide__item {
        &.slide__item-01 {
          background-position: 55% center;
        }
        &.slide__item-02 {
          background-position: 67% center;
        }
        &.slide__item-03 {
          background-position: 56% center;
        }
      }
    }
  }
}



// ============== Keyframe setting

@-webkit-keyframes load-slide-down {
  0% {
    @include css3-prefix(transform, translateY(0));
  }
  100% {
    @include css3-prefix(transform, translateY(100%));
  }
}

@keyframes load-slide-down {
  0% {
    @include css3-prefix(transform, translateY(0));
  }
  100% {
    @include css3-prefix(transform, translateY(100%));
  }
}

@-webkit-keyframes load-slide-down-02 {
  0% {
    @include css3-prefix(transform, translateY(-100%));
  }
  100% {
    @include css3-prefix(transform, translateY(0));
  }
}

@keyframes load-slide-down-02 {
  0% {
    @include css3-prefix(transform, translateY(-100%));
  }
  100% {
    @include css3-prefix(transform, translateY(0));
  }
}

@-webkit-keyframes load-slide-up {
  0% {
    @include css3-prefix(transform, translateY(100%));
  }
  100% {
    @include css3-prefix(transform, translateY(0));
  }
}

@keyframes load-slide-up {
  0% {
    @include css3-prefix(transform, translateY(100%));
  }
  100% {
    @include css3-prefix(transform, translateY(0));
  }
}

@-webkit-keyframes scale-big {
  0% {
    opacity: 1;
    @include css3-prefix(transform, scale(1));
  }
  100% {
    opacity: 0;
    @include css3-prefix(transform, scale(3));
  }
}

@keyframes scale-big {
  0% {
    opacity: 1;
    @include css3-prefix(transform, scale(1));
  }
  100% {
    opacity: 0;
    @include css3-prefix(transform, scale(3));
  }
}

@-webkit-keyframes fadeInUpA {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUpA {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}