@font-face {
  font-family: "DIN Alternate";
  src: url(../../font/din-alternate-regular.otf);
}
@font-face {
  font-family: "Frutiger Next LT CE";
  src: url(../../font/frutiger-next-lt-light.otf);
}

@font-face {
  font-family: 'FrutigerNextLT-Light';
  src: url('../../font/FrutigerNextLT-Light.eot?#iefix') format('embedded-opentype'),  url('../../font/FrutigerNextLT-Light.woff') format('woff'), url('../../font/FrutigerNextLT-Light.ttf')  format('truetype'), url('../../font/FrutigerNextLT-Light.svg#FrutigerNextLT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSan-Light';
  src: url('../../font/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'),  url('../../font/NotoSansCJKjp-Light.woff') format('woff'), url('../../font/NotoSansCJKjp-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSan-Medium';
  src: url('../../font/NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'),  url('../../font/NotoSansCJKjp-Medium.woff') format('woff'), url('../../font/NotoSansCJKjp-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-RegularAlternate';
  src: url('../../font/DIN-RegularAlternate.eot?#iefix') format('embedded-opentype'),  url('../../font/DIN-RegularAlternate.woff') format('woff'), url('../../font/DIN-RegularAlternate.ttf')  format('truetype'), url('../../font/DIN-RegularAlternate.svg#DIN-RegularAlternate') format('svg');
  font-weight: normal;
  font-style: normal;
}

$info-screen-pc: "only screen and (max-width :  1320px)";
$info-tablet-big: "only screen and (max-width : 1160px)";
$info-tab-only: "only screen and (max-width: 1160px) and (min-width: 800px)";
$info-tablet: "only screen and (max-width : 800px)";
$info-phone: "only screen and (max-width : 767px)";
$info-phone-4: "only screen and (max-width : 320px)";


$font-frutiger-light: "FrutigerNextLT-Light";
$font-noto-light: "NotoSan-Light";
$font-din: "DIN-RegularAlternate";
$font-noto-medium: "NotoSan-Medium";

* {
  margin: 0;
}

.mobile {
  .main-content {
    bottom: 55px;
    position: fixed;
    @media #{$info-phone-4} {
      bottom: 30px;
    }
  }
  .nav-bar {
    position: fixed;
    width: 100%;
    margin-top: 0;
    .nav-right {
      @media #{$info-phone-4} {
        bottom: 0;
      }
    }
  }

  .content,.content-front {
    .block-bg {
      top: 13%;
    }
  }

  .popup {
    .popup__content {
      @media #{$info-phone-4} {
        .popup__text-01, .popup__text-03 {
          font-size: 12px;
        }
        .popup__title {
          margin-bottom: 17px;
        }
        .popup__text-01 {
          margin-bottom: 12px;
        }
        .popup__text-02 {
          margin-bottom: 10px;
          font-size: 14px;
        }
        .popup__text-03 {
          margin-bottom: 20px;
        }
      }
    }
    .popup__close {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    &.access-popup {
      .popup__content .row {
        margin-top: -70px;
        .access__text {
          font-size: 11px;
        }
        .access__text table td {
          padding-bottom: 0;
        }
        .popup__title {
          @media #{$info-phone-4} {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.android {
  .nav-bar {
    h1 {
      margin-top: 10px;
    }
  }
  .content,.content-front {
    .block-bg {
      top: 10%;
      .line {
        padding-top: 0;
      }
      .text-bg {
        font-size: 43vw;
      }
    }
  }
  .main-content {
    line-height: 2;
  }
  .popup .popup__content {
    .row {
      .col-md-6:first-child {
        margin-bottom: 5px;
      }
    }
    .popup__title {
      margin-bottom: 17px;
    }
    .popup__text-01 {
      margin-bottom: 12px;
    }
    .popup__text-02 {
      margin-bottom: 10px;
    }
    .popup__text-03 {
      margin-bottom: 20px;
    }
  }
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  background: #daddea;
  overflow: hidden;
  .nav-bar{
    z-index: 10;
    position: relative;
    font-family: $font-frutiger-light;
    margin-top: 14px;
    h1{
      font-size: 24px;
      padding-left: 20px;
      display: inline-block;
      margin: 20px 0 0;
      font-family: $font-frutiger-light;
      @media #{$info-phone} {
        display: block;
        text-align: center;
        line-height: 1.5;
      }
    }
    .nav-right{
      float: right;
      margin: 16px 0 0 5px;
      @media #{$info-phone} {
        position: fixed;
        bottom: 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0 30px;
        text-align: center;
        color: #fff;
      }
      div{
        display: inline-block;
        font-size: 16px;
        margin-right: 15px;
        @media #{$info-phone} {
          width: 50%;
        }
        &.message::before{
          content: url("../../img/message.png");
          //vertical-align: middle;
          padding-right: 5px;
          @media #{$info-phone} {
            content: url("../../img/icon-menu-sp.png");
          }
        }
        &.access::before{
          content: url("../../img/access.png");
          //vertical-align: middle;
          padding-right: 5px;
          @media #{$info-phone} {
            content: url("../../img/icon-menu-sp.png");
          }
        }
      }
    }
  }

  .content,.content-front{
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-left: 0;
    //display: table;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .block-bg{
      -ms-transform: rotate(352deg); /* IE 9 */
      -webkit-transform: rotate(352deg); /* Chrome, Safari, Opera */
      transform: rotate(352deg);
      //display: table-cell;
      //vertical-align: middle;
      //position: absolute;
      //top: 24%;
      //@media #{$info-tablet} {
      //  top: 16%;
      //}
      .text-bg{
        font-family: "DIN Alternate";
        font-size: 22vw;
        font-weight: bold;
        color: #ff0c00;
        line-height: 22vw;
        margin: 0;
      }
      .line{
        line-height: 40px;
        width: 100%;
        margin-left: -3%;
        margin-top: -1.5%;
        height: 40px;
        text-align: center;
        background: #ff0c00;
        text-shadow: 2px 0px 1px red;
        font-family: $font-frutiger-light;
        font-size: 32px;
        color: #fff;
        //padding-left: 26%;
        @media #{$info-tablet} {
          padding-left: 0;
          margin-left: -8%;
        }
        @media #{$info-phone} {
          font-size: 9.5vw;
          height: 17vw;
        }
        @media #{$info-phone-4} {
          padding-top: 6px;
        }
        small {
          font-size: 81%;
          @media #{$info-phone} {
            font-size: 75%;
          }
        }
        span {
          font-size: 28px;
        }
        .break-line {
          @media #{$info-phone} {
            display: block;
            font-size: 22px;
            margin-top: -16px;
            span {
              font-size: 20px;
            }
          }
        }
      }
      .underline{
        width: 100%;
        height: 0.4vw;
        margin-top: 0.3%;
        margin-left: -2%;
        background: #ff0c00;
      }
    }
    .man{
      position: absolute;
      top: 20px;
      left: 0;
      width: 100vw;
      height: 100%;
      margin-left: 1%;
      text-align: center;
      @media #{$info-phone} {
        top: 40px;
      }
      img{
        @media #{$info-phone} {
          width: 45%;
        }
      }
      .man-sp{
        display: none;
      }
    }

  }

  .content-front{
    //position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    .text-bg{
      opacity: 0.1;
    }
    .block-bg .line{
      background: rgba(255, 12, 0, 0.1);
    }
    .block-bg .underline{
      background: rgba(255, 12, 0, 0.1);
    }
  }

  .main-content {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 120px;
    z-index: 1;
    font-size: 90px;
    font-family: $font-din;
    line-height: 1.1;
    color: #333;
    @media #{$info-tablet} {
      bottom: 5%;
    }
    @media #{$info-phone} {
      font-size: 50px;
      bottom: 125px;
      line-height: 2;
    }
    @media #{$info-phone-4} {
      font-size: 40px;
      line-height: 1.8;
    }

    span {
      display: block;
      font-size: 19px;
      font-family: $font-noto-medium;
      color: #444;
      @media #{$info-phone} {
        font-size: 15px;
        margin-top: -32px;
      }
    }
  }

  .popup {
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    text-align: center;
    color: #fff;
    font-family: "NotoSan-Light";
    display: none;
    .popup__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      @media #{$info-tablet} {
        padding: 0 30px;
      }
      @media #{$info-phone} {
        padding: 0 20px;
      }
    }
    .popup__title {
      font-size: 28px;
      margin-bottom: 27px;
      @media #{$info-phone} {
        font-size: 18px;
      }
    }
    .popup__text-01, .popup__text-03 {
      font-size: 20px;
      margin-bottom: 22px;
      @media #{$info-phone} {
        font-size: 14px;
        br {
          //display: none;
        }
      }
    }
    .popup__text-02 {
      font-size: 22px;
      margin-bottom: 20px;
      @media #{$info-phone} {
        font-size: 16px;
      }
    }
    .popup__text-03 {
      margin-bottom: 35px;
      @media #{$info-phone} {
        margin-left: -1px;
        margin-right: -1px;
      }
    }
    .popup__bottom {
      font-family: $font-frutiger-light;
      font-size: 18px;
      margin-bottom: 45px;
      @media #{$info-phone} {
        font-size: 12px;
      }
    }

    .popup__close {
      cursor: pointer;
      font-family: $font-frutiger-light;
      font-size: 20px;
      display: inline-block;
      @media #{$info-phone} {
        font-size: 12px;
        img {
          margin-bottom: -5px;
          display: block
        }
      }
    }

    &.message {

    }

    &.access-popup {
      .popup__content {
        width: 1000px;
        margin: auto;
        flex-direction: row;
        text-align: left;
        @media #{$info-tablet} {
          width: 100%;
        }
        .row {
          width: 100%;
          margin-top: 48px;
          .col-md-6:first-child {
            padding: 0;
            @media #{$info-tablet} {
              text-align: center;
              margin-bottom: 20px;
            }
            @media #{$info-phone} {
              img {
                max-width: 100%;
              }
            }
          }
          .col-md-12 {
            text-align: center;
          }
        }
        .popup__close__wrap {
          clear: both;
          text-align: center;
        }
      }
      .popup__close {
        margin-top: 60px;
        @media #{$info-phone} {
          margin-top: 20px;
        }
      }
      .access__text {
        font-size: 18px;
        padding-left: 30px;
        padding-right: 0;
        @media #{$info-tablet} {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        @media #{$info-phone} {
          align-items: flex-start;
          padding-left: 0;
          font-size: 13px;
        }
        img {
          max-width: 100%;
        }
        .popup__title {
          font-family: $font-frutiger-light;
          font-size: 38px;
          margin-top: 18px;
          margin-bottom: 4px;
          @media #{$info-phone} {
            font-size: 24px;
          }
        }
        table {
          td {
            &:first-child {
              white-space: nowrap;
            }
            vertical-align: top;
            line-height: 1.7;
            padding-bottom: 11px;
          }
        }
      }
    }


  }
}
@media screen and (min-width: 1200px) {
  html, body{
    //.content .man img{
    //  width: 45%;
    //}
    .list-hover {
      .button-hover {
        height: 10vw;
        width: 10vw;
      }
    }
  }
}
@media screen and (min-width: 1640px) {
  html, body{
    //.content .man img{
    //  width: 30%
    //}
    .list-hover {
      .button-hover {
        height: 8vw;
        width: 8vw;
      }
    }
  }
}
@media screen and (max-width: 950px) {
  html, body{
    //.content .man img{
    //  width: 60%;
    //}
    .list-hover {
      .button-hover {
        height: 12vw;
        width: 12vw;

      }
    }
  }
}
@media screen and (max-width: 800px) {
  html, body{
    .nav-bar h1{
      font-size: 5vw;
      //text-align: center;
      //width: 100%;
      //padding: 0;
    }
    .nav-right{
      //display: none;
    }
    .content .man {
      margin-left: 3%;
      .man-sp{
        display: inline-block;
        width: 85%;
      }
      .man-pc{
        display: none;
      }
    }
    .content,.content-front{
      //margin-left: -3%;
      .block-bg{
        .text-bg{
          line-height: 35vw;
          font-size: 45vw;
          width: 115vw;
          white-space: pre-wrap;      /* CSS3 */
          white-space: -moz-pre-wrap; /* Firefox */
          white-space: -pre-wrap;     /* Opera <7 */
          white-space: -o-pre-wrap;   /* Opera 7 */
          word-wrap: break-word;      /* IE */
          span{
            letter-spacing: 1.5vw;
          }
        }
        .underline{
          height: 0.5vw;
          margin-top: 0.5%;
          margin-left: -5%;
        }
        .line{
          //height: 15vw;
          //margin-left: -5%;
          margin-top: 1%;
          p{
            font-size: 9vw;
            width: 84vw;
            line-height: 4.4vw;
            height: 11vw;
            margin: 0 auto;
            padding-top: 2.7vw;
            text-align: center;
            span{
              font-size: 6vw;
            }
            .break-line{
              font-size: 5.5vw;
              span{
                font-size: 4.5vw;
              }
            }
          }
        }
      }
    }
    .content-front{
      -moz-box-shadow: inset 0 -50vw 30vw -30vw rgba(0,0,0,0.6);
      -webkit-box-shadow: inset 0 -50vw 30vw -30vw rgba(0,0,0,0.6);
      box-shadow: inset 0 -50vw 30vw -30vw rgba(0,0,0,0.6);

      .text-bg{
        opacity: 0.2;
      }
      .block-bg .line{
        background: rgba(255, 12, 0, 0.2);
      }
      .block-bg .underline{
        background: rgba(255, 12, 0, 0.2);
      }
    }
    #carousel_item{
      display: inline-block;
      z-index: 12;
      position: absolute;
      bottom: 2vh;
    }
    .btn-sp{
      width: 30vw;
      height: 30vw;
      .link-world{
        width: 100%;
        height: 100%;
        background: url("../../img/link_world_pic.png") no-repeat center center;
        background-size: 100%;
      }
      .hear-me{
        width: 100%;
        height: 100%;
        background: url("../../img/hear_me_pic.png") no-repeat center center;
        background-size: 100%;
      }
      .AR-phabet{
        width: 100%;
        height: 100%;
        background: url("../../img/AR_phabet_pic.png") no-repeat center center;
        background-size: 100%;
      }
      .interactive{
        width: 100%;
        height: 100%;
        background: url("../../img/interactive_actual_movie_pic.png") no-repeat center center;
        background-size: 100%;
      }
      .sumaho{
        width: 100%;
        height: 100%;
        background: url("../../img/sumaho_pic.png") no-repeat center center;
        background-size: 100%;
      }
    }
    .list-hover{
      display: none;
    }
    .item{
      -webkit-transition: none;
      transition: none;
      .col-xs-4:first-child,.col-xs-4:last-child{
        .image-list{
          width: 50%;
          height: 50%;
          margin: 7vw auto;
        }
      }
    }
  }
}

.teaser-02 {
  display: flex;
  justify-content: center;
  .teaser-pc {
    @media #{$info-phone} {
      display: none;
    }
  }
  .teaser-sp {
    display: none;
    background: url("../img/teaser_sp.png") top center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    //background-size: cover;
    //background-position: center center;
    @media #{$info-phone} {
      display: block;
      background-size: auto 120%;
    }
  }

}

.disable-xs {
  @media #{$info-phone} {
    display: none;
  }
}

.visible-xs {
  display: none;
  @media #{$info-phone} {
    display: block;
  }
}