@font-face {
  font-family: 'FrutigerNextLT-Light';
  src: url("../../font/FrutigerNextLT-Light.eot?#iefix") format("embedded-opentype"), url("../../font/FrutigerNextLT-Light.woff") format("woff"), url("../../font/FrutigerNextLT-Light.ttf") format("truetype"), url("../../font/FrutigerNextLT-Light.svg#FrutigerNextLT-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NotoSan-Light';
  src: url("../../font/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("../../font/NotoSansCJKjp-Light.woff") format("woff"), url("../../font/NotoSansCJKjp-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NotoSan-Medium';
  src: url("../../font/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("../../font/NotoSansCJKjp-Medium.woff") format("woff"), url("../../font/NotoSansCJKjp-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NotoSan-Regular';
  src: url("../../font/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("../../font/NotoSansCJKjp-Regular.woff") format("woff"), url("../../font/NotoSansCJKjp-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DIN-RegularAlternate';
  src: url("../../font/DIN-RegularAlternate.eot?#iefix") format("embedded-opentype"), url("../../font/DIN-RegularAlternate.woff") format("woff"), url("../../font/DIN-RegularAlternate.ttf") format("truetype"), url("../../font/DIN-RegularAlternate.svg#DIN-RegularAlternate") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  @media only screen and (max-width: 800px) {
    html, body {
      overflow: auto; } }

body,
html {
  position: fixed; }
  @media only screen and (max-width: 800px) {
    body,
    html {
      position: relative; } }

body {
  background-color: #daddea; }

h1, h2, h3, p {
  margin: 0; }

.loader-wrap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: none; }
  .loader-wrap.active-loader {
    display: block; }
    @media only screen and (max-width: 800px) {
      .loader-wrap.active-loader {
        display: none;
        overflow: auto; } }
  .loader-wrap.active .loader-front {
    -webkit-animation-name: load-slide-down;
    animation-name: load-slide-down;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .loader-wrap.active .loader-front-02 {
    -webkit-animation-name: load-slide-down-02;
    animation-name: load-slide-down-02;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 2s; }
  .loader-wrap.next-active .loader-front {
    display: none; }
  .loader-wrap .loader {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; }
    .loader-wrap .loader img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; }
    .loader-wrap .loader .loader-front {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: #daddea; }
    .loader-wrap .loader .loader-front-02 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 4;
      background-color: #daddea;
      transform: translateY(100%); }
  .loader-wrap.link-world .loader {
    background-color: #ea522e; }
  .loader-wrap.hear-me .loader {
    background-color: #60c4db; }
  .loader-wrap.ar-phabet .loader {
    background-color: #df606d; }
  .loader-wrap.parkour .loader {
    background-color: #f5c822; }
  .loader-wrap.enjoin .loader {
    background-color: #38a972; }

.main-content {
  height: 100%;
  background-color: #fff;
  position: relative;
  -webkit-transform: translateY(100%);
  -khtml-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  overflow: hidden; }
  @media only screen and (max-width: 800px) {
    .main-content {
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      height: initial; } }
  .main-content.move-down {
    -webkit-animation-name: load-slide-down;
    animation-name: load-slide-down;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 3; }
    .main-content.move-down .nav-bar {
      opacity: 1; }
    .main-content.move-down .content__item.active {
      opacity: 1;
      display: block;
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
      .main-content.move-down .content__item.active .item__info h1, .main-content.move-down .content__item.active .item__info h3, .main-content.move-down .content__item.active .item__info .item__text-01, .main-content.move-down .content__item.active .item__info .item__text-02, .main-content.move-down .content__item.active .item__info > a {
        opacity: 1; }
  .main-content.active {
    -webkit-animation-name: load-slide-up;
    animation-name: load-slide-up;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 9; }
    .main-content.active .nav-bar {
      -webkit-animation-name: fadeInUpA;
      animation-name: fadeInUpA;
      animation-delay: 1.5s;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 1.2s;
      animation-duration: 1.2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
    .main-content.active .content__item {
      -webkit-animation-name: load-slide-up;
      animation-name: load-slide-up;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 1.2s;
      animation-duration: 1.2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-delay: 0.3s;
      /* Safari 4.0 - 8.0 */
      animation-delay: 0.3s; }
  .main-content .content__item {
    -webkit-transform: translateY(100%);
    -khtml-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    display: none; }
    .main-content .content__item.active {
      display: block; }
      .main-content .content__item.active .item__info h1 {
        -webkit-animation-name: fadeInUpA;
        animation-name: fadeInUpA;
        animation-delay: 4s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
        @media only screen and (max-width: 800px) {
          .main-content .content__item.active .item__info h1 {
            animation-delay: 0s; } }
      .main-content .content__item.active .item__info h3 {
        -webkit-animation-name: fadeInUpA;
        animation-name: fadeInUpA;
        animation-delay: 4.3s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
        @media only screen and (max-width: 800px) {
          .main-content .content__item.active .item__info h3 {
            animation-delay: 0s; } }
      .main-content .content__item.active .item__info .item__text-01 {
        -webkit-animation-name: fadeInUpA;
        animation-name: fadeInUpA;
        animation-delay: 4.6s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
        @media only screen and (max-width: 800px) {
          .main-content .content__item.active .item__info .item__text-01 {
            animation-delay: 0s; } }
      .main-content .content__item.active .item__info .item__text-02 {
        -webkit-animation-name: fadeInUpA;
        animation-name: fadeInUpA;
        animation-delay: 4.9s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
        @media only screen and (max-width: 800px) {
          .main-content .content__item.active .item__info .item__text-02 {
            animation-delay: 0s; } }
      .main-content .content__item.active .item__info > a {
        -webkit-animation-name: fadeInUpA;
        animation-name: fadeInUpA;
        animation-delay: 5.2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
        @media only screen and (max-width: 800px) {
          .main-content .content__item.active .item__info > a {
            animation-delay: 0s; } }
  .main-content .nav-bar {
    margin-top: 0;
    position: fixed;
    width: 100%;
    -webkit-transform: translateY(20px);
    -khtml-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    transition: 1s; }
    @media only screen and (max-width: 800px) {
      .main-content .nav-bar {
        -webkit-transform: translateY(0);
        -khtml-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; } }
    @media only screen and (max-width: 767px) {
      .main-content .nav-bar .nav-right {
        display: none; } }

.content__wrap {
  height: 100%; }
  .content__wrap .content__item {
    height: 100%; }
    @media only screen and (max-width: 800px) {
      .content__wrap .content__item {
        -webkit-transform: translate(0, 0);
        -khtml-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        display: block; }
        .content__wrap .content__item.slick-slide .item__info h1, .content__wrap .content__item.slick-slide .item__info h3, .content__wrap .content__item.slick-slide .item__info .item__text-01, .content__wrap .content__item.slick-slide .item__info .item__text-02, .content__wrap .content__item.slick-slide .item__info > a {
          opacity: 1;
          -webkit-transform: translateY(0);
          -khtml-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0); } }
    .content__wrap .content__item.detail-hear-me .slick-sp .slick-sp-bg {
      background-size: 140% auto;
      background-position: center center; }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item.detail-hear-me .slick-sp .slick-sp-bg {
          background-size: 125% auto; } }
    .content__wrap .content__item.detail-ar-phabet .slick-sp .slick-sp-bg {
      background-size: 105% auto;
      background-position: 90% 87%; }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item.detail-ar-phabet .slick-sp .slick-sp-bg {
          background-size: cover; } }
    .content__wrap .content__item.detail-parkour .slick-sp .slick-sp-bg {
      background-size: cover;
      background-position: center center; }
    .content__wrap .content__item.detail-enjoin .slick-sp .slick-sp-bg {
      background-size: 115% auto;
      background-position: center center; }
    .content__wrap .content__item .slick-sp {
      height: 480px;
      width: 100%; }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item .slick-sp {
          height: 280px; } }
      .content__wrap .content__item .slick-sp .slick-sp-bg {
        background-size: 140% auto;
        background-position: 80% 80%;
        height: 480px; }
        @media only screen and (max-width: 767px) {
          .content__wrap .content__item .slick-sp .slick-sp-bg {
            height: 280px;
            background-size: 160% auto;
            background-position: 73% 65%; } }
    .content__wrap .content__item .visible-tablet {
      display: none; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item .visible-tablet {
          display: block; } }
    .content__wrap .content__item .mobile-setting {
      -webkit-animation-name: fadeInUpA;
      animation-name: fadeInUpA;
      animation-delay: 0s;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: 1.2s;
      animation-duration: 1.2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
      .content__wrap .content__item .mobile-setting .slide__item__title {
        background: url("../img/slide-title-line.png") bottom left no-repeat;
        margin-bottom: 40px; }
        @media only screen and (max-width: 800px) {
          .content__wrap .content__item .mobile-setting .slide__item__title:first-child {
            margin-top: 40px; } }
        @media only screen and (max-width: 767px) {
          .content__wrap .content__item .mobile-setting .slide__item__title {
            margin-bottom: 30px; } }
        .content__wrap .content__item .mobile-setting .slide__item__title .item__title-01 {
          display: inline-block;
          vertical-align: top;
          margin-top: 16px;
          font-family: "FrutigerNextLT-Light";
          font-size: 22px;
          color: #ff0c00;
          margin-right: 20px; }
          @media only screen and (max-width: 767px) {
            .content__wrap .content__item .mobile-setting .slide__item__title .item__title-01 {
              font-size: 18px;
              margin-right: 13px; } }
        .content__wrap .content__item .mobile-setting .slide__item__title .item__title-02 {
          display: inline-block;
          vertical-align: top;
          font-family: "FrutigerNextLT-Light";
          font-size: 88px;
          color: #ff0c00;
          margin-top: -30px;
          margin-right: 9px;
          margin-bottom: -10px; }
          @media only screen and (max-width: 767px) {
            .content__wrap .content__item .mobile-setting .slide__item__title .item__title-02 {
              font-size: 60px;
              margin-top: -17px; } }
        .content__wrap .content__item .mobile-setting .slide__item__title .item__title-03 {
          display: inline-block;
          font-family: "NotoSan-Medium";
          line-height: 1.6;
          width: calc(100% - 141px) !important; }
          @media only screen and (max-width: 767px) {
            .content__wrap .content__item .mobile-setting .slide__item__title .item__title-03 {
              font-size: 13px;
              width: calc(100% - 110px) !important;
              padding-bottom: 10px; } }
    .content__wrap .content__item .col-left {
      height: 100%;
      width: 50%;
      float: left;
      background-position: bottom left;
      background-repeat: no-repeat;
      position: relative;
      background-color: #daddea; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item .col-left {
          width: 100%;
          float: none; } }
    .content__wrap .content__item .col-right {
      height: 100%;
      width: 50%;
      float: right;
      background-size: cover;
      background-position: center center; }
    .content__wrap .content__item .slide-right {
      position: relative;
      background-color: #000;
      overflow: hidden; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item .slide-right {
          display: none; } }
      .content__wrap .content__item .slide-right .slide__item {
        top: -40px;
        bottom: -40px;
        background-size: cover;
        background-position: center center;
        position: absolute;
        width: 100%;
        transition: ease-out 1s;
        opacity: 0; }
        .content__wrap .content__item .slide-right .slide__item.active {
          opacity: 1;
          transform: matrix(1, 0, 0, 1, 0, 0); }
          .content__wrap .content__item .slide-right .slide__item.active .slide__item__title {
            -webkit-animation-name: fadeInUpA;
            animation-name: fadeInUpA;
            animation-delay: 1s;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
            -webkit-animation-duration: 1.2s;
            animation-duration: 1.2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
        .content__wrap .content__item .slide-right .slide__item.prev {
          transform: matrix(1, 0, 0, 1, 0, -50); }
        .content__wrap .content__item .slide-right .slide__item.next {
          transform: matrix(1, 0, 0, 1, 0, 50); }
        .content__wrap .content__item .slide-right .slide__item .slide__item__title {
          display: inline-block;
          background: url("../img/slide-title-line.png") bottom left no-repeat;
          position: absolute;
          top: 12.3%;
          left: 45px;
          -webkit-transform: translateY(20px);
          -khtml-transform: translateY(20px);
          -moz-transform: translateY(20px);
          -ms-transform: translateY(20px);
          -o-transform: translateY(20px);
          transform: translateY(20px);
          transition: 1s;
          opacity: 0;
          padding-bottom: 15px; }
          .content__wrap .content__item .slide-right .slide__item .slide__item__title:before {
            content: "";
            width: 550px;
            height: 550px;
            background: url("../img/slide-title-light.png");
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
          .content__wrap .content__item .slide-right .slide__item .slide__item__title .item__title-01 {
            display: inline-block;
            vertical-align: top;
            margin-top: 16px;
            font-family: "FrutigerNextLT-Light";
            font-size: 22px;
            color: #ff0c00;
            margin-right: 20px; }
          .content__wrap .content__item .slide-right .slide__item .slide__item__title .item__title-02 {
            display: inline-block;
            vertical-align: top;
            font-family: "FrutigerNextLT-Light";
            font-size: 88px;
            color: #ff0c00;
            margin-top: -30px;
            margin-right: 9px;
            margin-bottom: -10px; }
          .content__wrap .content__item .slide-right .slide__item .slide__item__title .item__title-03 {
            display: inline-block;
            width: 300px;
            font-family: "NotoSan-Medium";
            line-height: 1.6; }
    .content__wrap .content__item .slider-dot {
      list-style: none;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -khtml-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: right;
      padding: 0;
      margin-right: 18px; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item .slider-dot {
          display: none; } }
      .content__wrap .content__item .slider-dot > li {
        position: relative;
        padding-right: 20px;
        color: transparent;
        font-family: "FrutigerNextLT-Light";
        font-size: 12px;
        cursor: pointer; }
        .content__wrap .content__item .slider-dot > li.active {
          color: #ea522e; }
          .content__wrap .content__item .slider-dot > li.active:before {
            background-color: #ea522e; }
          .content__wrap .content__item .slider-dot > li.active:after {
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 100%;
            border: 1px solid #ea522e;
            top: 3px;
            right: -3px; }
          .content__wrap .content__item .slider-dot > li.active.hear-me {
            color: #60c4db; }
            .content__wrap .content__item .slider-dot > li.active.hear-me:before,
            .content__wrap .content__item .slider-dot > li.active.hear-me > ul:before,
            .content__wrap .content__item .slider-dot > li.active.hear-me > ul li:before {
              background-color: #60c4db; }
            .content__wrap .content__item .slider-dot > li.active.hear-me:after {
              border: 1px solid #60c4db; }
          .content__wrap .content__item .slider-dot > li.active.ar-phabet {
            color: #df606d; }
            .content__wrap .content__item .slider-dot > li.active.ar-phabet:before,
            .content__wrap .content__item .slider-dot > li.active.ar-phabet > ul:before,
            .content__wrap .content__item .slider-dot > li.active.ar-phabet > ul li:before {
              background-color: #df606d; }
            .content__wrap .content__item .slider-dot > li.active.ar-phabet:after {
              border: 1px solid #df606d; }
          .content__wrap .content__item .slider-dot > li.active.parkour {
            color: #f18b2a; }
            .content__wrap .content__item .slider-dot > li.active.parkour:before,
            .content__wrap .content__item .slider-dot > li.active.parkour > ul:before,
            .content__wrap .content__item .slider-dot > li.active.parkour > ul li:before {
              background-color: #f18b2a; }
            .content__wrap .content__item .slider-dot > li.active.parkour:after {
              border: 1px solid #f18b2a; }
          .content__wrap .content__item .slider-dot > li.active.enjoin {
            color: #38a972; }
            .content__wrap .content__item .slider-dot > li.active.enjoin:before,
            .content__wrap .content__item .slider-dot > li.active.enjoin > ul:before,
            .content__wrap .content__item .slider-dot > li.active.enjoin > ul li:before {
              background-color: #38a972; }
            .content__wrap .content__item .slider-dot > li.active.enjoin:after {
              border: 1px solid #38a972; }
        .content__wrap .content__item .slider-dot > li:before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background-color: #838bad;
          position: absolute;
          right: 0;
          top: 6px; }
        .content__wrap .content__item .slider-dot > li > ul {
          list-style: none;
          padding-left: 0;
          margin-right: -19px;
          position: relative;
          padding-top: 12px; }
          .content__wrap .content__item .slider-dot > li > ul:before {
            content: "";
            position: absolute;
            height: calc(100% - 15px);
            top: 0;
            right: 2px;
            width: 1px;
            background-color: #ea522e; }
          .content__wrap .content__item .slider-dot > li > ul li {
            position: relative;
            color: transparent;
            margin-bottom: -5px;
            cursor: pointer; }
            .content__wrap .content__item .slider-dot > li > ul li.active:before {
              background-color: #838bad; }
            .content__wrap .content__item .slider-dot > li > ul li.active:after {
              content: "";
              width: 5px;
              height: 5px;
              border-radius: 100%;
              background-color: #838bad;
              position: absolute;
              right: 0;
              animation: scale-big ease 2s infinite;
              -moz-animation: scale-big ease 2s infinite;
              -webkit-animation: scale-big ease 2s infinite;
              -o-animation: scale-big ease 2s infinite; }
            .content__wrap .content__item .slider-dot > li > ul li.active span {
              width: 5px;
              height: 5px;
              border-radius: 100%;
              background-color: #838bad;
              position: absolute;
              right: 0;
              animation: scale-big ease 2s infinite;
              -moz-animation: scale-big ease 2s infinite;
              -webkit-animation: scale-big ease 2s infinite;
              -o-animation: scale-big ease 2s infinite;
              animation-delay: 1s; }
            .content__wrap .content__item .slider-dot > li > ul li:before {
              content: "";
              width: 5px;
              height: 5px;
              border-radius: 100%;
              background-color: #ea522e;
              position: absolute;
              right: 0; }
    .content__wrap .content__item .item__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 360px;
      margin-left: 9.6%;
      font-family: "NotoSan-Regular"; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item .item__info {
          width: 100%;
          margin-left: 0;
          padding: 32px 30px 0; } }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item .item__info {
          padding: 32px 15px 0; } }
      .content__wrap .content__item .item__info h1 {
        font-family: "FrutigerNextLT-Light";
        font-size: 90px;
        line-height: 0.88;
        margin-bottom: 8px;
        -webkit-transform: translateY(20px);
        -khtml-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        transition: 1s;
        opacity: 0;
        margin-right: -150px; }
        .content__wrap .content__item .item__info h1 span {
          color: #ea522e; }
        @media only screen and (max-width: 767px) {
          .content__wrap .content__item .item__info h1 {
            font-size: 57px;
            line-height: 0.98; } }
      .content__wrap .content__item .item__info h3 {
        font-weight: normal;
        font-size: 19px;
        margin-bottom: 43px;
        -webkit-transform: translateY(20px);
        -khtml-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        transition: 1s;
        opacity: 0;
        font-family: "NotoSan-Regular"; }
        .content__wrap .content__item .item__info h3 small {
          display: block;
          color: #5d5e61;
          margin: 5px 0 12px; }
        @media only screen and (max-width: 767px) {
          .content__wrap .content__item .item__info h3 {
            font-size: 16px; } }
      .content__wrap .content__item .item__info .item__text-01 {
        font-size: 18px;
        line-height: 1.9;
        margin-bottom: 25px;
        -webkit-transform: translateY(20px);
        -khtml-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        transition: 1s;
        opacity: 0; }
        @media only screen and (max-width: 767px) {
          .content__wrap .content__item .item__info .item__text-01 {
            line-height: 1.6; } }
      .content__wrap .content__item .item__info .item__text-02 {
        font-size: 14px;
        line-height: 1.8;
        -webkit-transform: translateY(20px);
        -khtml-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        transition: 1s;
        opacity: 0; }
        @media only screen and (max-width: 767px) {
          .content__wrap .content__item .item__info .item__text-02 {
            font-size: 13px; } }
      .content__wrap .content__item .item__info > a {
        outline: none;
        -webkit-transform: translateY(20px);
        -khtml-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        transition: 1s;
        opacity: 0; }
        @media only screen and (max-width: 800px) {
          .content__wrap .content__item .item__info > a.hear-me-popup {
            display: none; } }
    .content__wrap .content__item.detail-link-world .col-left {
      background: url("../img/detail-link-bg-left.png") no-repeat -15px calc(100% + 15px) #daddea; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item.detail-link-world .col-left {
          background: url("../img/sp-detail-link-bg-left.png") no-repeat calc(100% + 10px) 40px #daddea; } }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item.detail-link-world .col-left {
          background-size: 38%;
          background-position: calc(100% + 4px) 24px; } }
    .content__wrap .content__item.detail-link-world .slide__item__title.slide__item__title-01 {
      right: 30px;
      left: initial;
      top: 16.3%; }
      .content__wrap .content__item.detail-link-world .slide__item__title.slide__item__title-01 .item__title-03 {
        width: 220px;
        margin-right: -10px; }
    .content__wrap .content__item.detail-link-world .slide__item__title.slide__item__title-02 {
      bottom: 120px;
      top: initial;
      left: 42px; }
      .content__wrap .content__item.detail-link-world .slide__item__title.slide__item__title-02 .item__title-03 {
        width: 215px; }
    .content__wrap .content__item.detail-link-world .slide__item__title.slide__item__title-03 {
      bottom: 120px;
      top: initial;
      left: 42px; }
      .content__wrap .content__item.detail-link-world .slide__item__title.slide__item__title-03 .item__title-03 {
        width: 195px; }
    .content__wrap .content__item.detail-link-world .slide__item.slide__item-01 {
      background-position: 70% center; }
    .content__wrap .content__item.detail-hear-me .item__info span {
      color: #60c4db; }
    .content__wrap .content__item.detail-hear-me .item__info > a {
      margin-top: 5px; }
    .content__wrap .content__item.detail-hear-me .col-left {
      background: url("../img/detail-hear-bg-left.png") no-repeat left calc(100% - 90px) #daddea; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item.detail-hear-me .col-left {
          background: url("../img/sp-detail-hear-bg-left.png") no-repeat calc(100% + 10px) 40px #daddea; } }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item.detail-hear-me .col-left {
          background-size: 54%;
          background-position: calc(100% + 4px) 24px; } }
    .content__wrap .content__item.detail-hear-me .slide__item__title.slide__item__title-01 {
      top: 160px; }
      .content__wrap .content__item.detail-hear-me .slide__item__title.slide__item__title-01 .item__title-03 {
        width: 325px; }
    .content__wrap .content__item.detail-hear-me .slide__item__title.slide__item__title-02 {
      top: initial;
      bottom: 120px; }
      .content__wrap .content__item.detail-hear-me .slide__item__title.slide__item__title-02 .item__title-03 {
        width: 220px; }
    .content__wrap .content__item.detail-hear-me .slide__item__title.slide__item__title-03 {
      top: 140px; }
      .content__wrap .content__item.detail-hear-me .slide__item__title.slide__item__title-03 .item__title-03 {
        width: 270px; }
    .content__wrap .content__item.detail-hear-me .slide__item.slide__item-02 {
      background-position: 70% center; }
    .content__wrap .content__item.detail-hear-me .slide__item.slide__item-03 {
      background-position: 82% center; }
    .content__wrap .content__item.detail-ar-phabet .item__info span {
      color: #df606d; }
    .content__wrap .content__item.detail-ar-phabet .col-left {
      background: url("../img/detail-ar-bg-left.png") no-repeat -36px calc(100% + 54px) #daddea; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item.detail-ar-phabet .col-left {
          background-size: 38%;
          background-position: calc(100% + 100px) -32px; } }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item.detail-ar-phabet .col-left {
          background-position: calc(100% + 47px) -12px; } }
    .content__wrap .content__item.detail-ar-phabet .slide__item__title.slide__item__title-01 {
      bottom: 120px;
      top: initial; }
      .content__wrap .content__item.detail-ar-phabet .slide__item__title.slide__item__title-01 .item__title-03 {
        width: 225px; }
    .content__wrap .content__item.detail-ar-phabet .slide__item__title.slide__item__title-02 {
      top: initial;
      bottom: 120px; }
      .content__wrap .content__item.detail-ar-phabet .slide__item__title.slide__item__title-02 .item__title-03 {
        width: 265px; }
    .content__wrap .content__item.detail-ar-phabet .slide__item__title.slide__item__title-03 {
      top: initial;
      bottom: 120px; }
      .content__wrap .content__item.detail-ar-phabet .slide__item__title.slide__item__title-03 .item__title-03 {
        width: 260px; }
    .content__wrap .content__item.detail-ar-phabet .slide__item.slide__item-01 {
      background-position: 12% center; }
    .content__wrap .content__item.detail-ar-phabet .slide__item.slide__item-02 {
      background-position: 30% center; }
    .content__wrap .content__item.detail-ar-phabet .slide__item.slide__item-03 {
      background-position: 19% center; }
    .content__wrap .content__item.detail-parkour .item__info span {
      color: #f18b2a; }
    .content__wrap .content__item.detail-parkour .col-left {
      background: url("../img/detail-park-bg-left.png") no-repeat -75px calc(100% + 75px) #daddea; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item.detail-parkour .col-left {
          background-position: calc(100% + 85px) -85px; } }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item.detail-parkour .col-left {
          background-size: 48%;
          background-position: calc(100% + 54px) -54px; } }
    .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-01 {
      bottom: 120px;
      top: initial;
      color: #fff; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-01 {
          color: #333; } }
      .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-01:before {
        display: none; }
      .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-01 .item__title-03 {
        width: 225px; }
    .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-02 {
      top: initial;
      bottom: 120px; }
      .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-02 .item__title-03 {
        width: 300px; }
    .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-03 {
      top: initial;
      bottom: 120px;
      color: #fff; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-03 {
          color: #333; } }
      .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-03:before {
        display: none; }
      .content__wrap .content__item.detail-parkour .slide__item__title.slide__item__title-03 .item__title-03 {
        width: 300px; }
    .content__wrap .content__item.detail-parkour .slide__item.slide__item-01 {
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-color: #424242; }
    .content__wrap .content__item.detail-parkour .slide__item.slide__item-02 {
      background-position: 24% center; }
    .content__wrap .content__item.detail-parkour .slide__item.slide__item-03 {
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-color: #424242; }
    .content__wrap .content__item.detail-enjoin .item__info span {
      color: #38a972; }
    .content__wrap .content__item.detail-enjoin .col-left {
      background: url("../img/detail-enjoin-bg-left.png") no-repeat -53px calc(100% - 65px) #daddea; }
      @media only screen and (max-width: 800px) {
        .content__wrap .content__item.detail-enjoin .col-left {
          background: url("../img/sp-detail-enjoin-bg-left.png") no-repeat calc(100% + 50px) -20px #daddea; } }
      @media only screen and (max-width: 767px) {
        .content__wrap .content__item.detail-enjoin .col-left {
          background-size: 54%;
          background-position: calc(100% + 30px) -10px; } }
    .content__wrap .content__item.detail-enjoin .slide__item__title.slide__item__title-01 {
      bottom: 120px;
      top: initial; }
      .content__wrap .content__item.detail-enjoin .slide__item__title.slide__item__title-01 .item__title-03 {
        width: 255px; }
    .content__wrap .content__item.detail-enjoin .slide__item__title.slide__item__title-02 {
      top: initial;
      bottom: 120px; }
      .content__wrap .content__item.detail-enjoin .slide__item__title.slide__item__title-02 .item__title-03 {
        width: 252px; }
    .content__wrap .content__item.detail-enjoin .slide__item__title.slide__item__title-03 {
      top: initial;
      bottom: 120px; }
      .content__wrap .content__item.detail-enjoin .slide__item__title.slide__item__title-03 .item__title-03 {
        width: 235px; }
    .content__wrap .content__item.detail-enjoin .slide__item.slide__item-01 {
      background-position: 55% center; }
    .content__wrap .content__item.detail-enjoin .slide__item.slide__item-02 {
      background-position: 67% center; }
    .content__wrap .content__item.detail-enjoin .slide__item.slide__item-03 {
      background-position: 56% center; }

@-webkit-keyframes load-slide-down {
  0% {
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -khtml-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
@keyframes load-slide-down {
  0% {
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    -khtml-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes load-slide-down-02 {
  0% {
    -webkit-transform: translateY(-100%);
    -khtml-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@keyframes load-slide-down-02 {
  0% {
    -webkit-transform: translateY(-100%);
    -khtml-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes load-slide-up {
  0% {
    -webkit-transform: translateY(100%);
    -khtml-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@keyframes load-slide-up {
  0% {
    -webkit-transform: translateY(100%);
    -khtml-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes scale-big {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
    -khtml-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); } }
@keyframes scale-big {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
    -khtml-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3); } }
@-webkit-keyframes fadeInUpA {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInUpA {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.ui-loader {
  display: none; }

.popup-hear-me {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none; }
  .popup-hear-me > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.85); }
  .popup-hear-me iframe {
    border: none; }

/*# sourceMappingURL=detail.css.map */
